langchain
langchain-core
# langchain-openai
langchain-groq
langchain-community
langchain-ollama
# langchain-google-genai
langchain-text-splitters
transformers
peft

Langserve
fastapi
uvicorn
sse_starlette

chromadb
faiss-cpu
selenium
lxml
playwright
playwright-stealth
bs4
pypdf
arxiv
wikipedia

streamlit