langchain
langchain-core
langchain-groq
langchain-community
langchain-ollama
langchain-text-splitters
langchain-google-genai
sentence-transformers

Langserve
fastapi
uvicorn
sse_starlette
fastmcp
opencv-python
scikit-learn
matplotlib

chromadb
faiss-cpu
selenium
lxml
bs4
pypdf
arxiv
wikipedia

streamlit
elevenlabs
inflect
typesense
torch 
torchvision
ultralytics
tensorrt
lap
supervision


pymongo[srv]